cffi==1.8.2
Chameleon==2.24
cryptography==1.5
idna==2.1
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
PasteDeploy==1.5.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
Pygments==2.1.3
pyramid==1.7.3
pyramid-chameleon==0.3
pyramid-debugtoolbar==3.0.4
pyramid-jinja2==2.6.2
pyramid-mako==1.0.2
-e git+https://github.com/zirconias/pyramid-kov.git@9cbe35aad00eb94e92d3761760b3d2f19c0c5e6c#egg=ramid
repoze.lru==0.6
six==1.10.0
translationstring==1.3
venusian==1.0
waitress==1.0.0
WebOb==1.6.1
zope.deprecation==4.1.2
zope.interface==4.3.2
