<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/pyramid-16x16.png">

    <title>{% block title %}{% endblock %} - MySite</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ request.static_url('ramid:static/navmar.css') }}" rel="stylesheet">
    <script src="{{ request.static_url('ramid:static/jquery.min.js') }}"></script>
</head>

<body>

<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header"
                aria-controls="navbar-header">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand" href="#">KOVARO</a>
            <ul class="nav navbar-nav">
                <li class="nav-item {% if request.matched_route.name == 'home' %} active{% endif %}">
                    <a class="nav-link" href="{{ request.route_url('home') }}">Home</a>
                </li>

                <li class="nav-item {% if 'user' in request.matched_route.name %} active{% endif %}">
                    <a class="nav-link"
                       href="{{ request.route_url('users') }}">Users</a>
                </li>
            </ul>
        </div>
    </nav> <!-- /navbar -->


    {% block content %}{% endblock %}


</div> <!-- /container -->

{% block scripts %}{% endblock %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ request.static_url('ramid:static/tether.min.js') }}"></script>
<script src="{{ request.static_url('ramid:static/bootstrap.min.js') }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ request.static_url('ramid:static/ie10-viewport-bug-workaround.js') }}"></script>
</body>
</html>